.jumbotron{
  background-image: url(../images/9.jpg);
  font: white;
}
h1{
  color: blue;
}
.f{
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
}
h2{
  color: blue;
}
body{
  background-color: red;
  font-family: sans-serif;
}
